@media screen and (max-width: 768px) {
     body {
          display: flex;
         flex-direction: column;
         align-items: center;
     }
 
     .item-container {
        display: grid !important;
        grid-template-columns: 1fr !important;
        column-gap: 0 !important;
     }
 
 
     .timeline {
         width: 100%; /* Full width on small screens */
     }

     .goal,
     .team,
     .scopes,
     .primary,
     .timeline {
         width: 100% !important;
         margin: 0 0 16px 0 !important;
         height: fit-content;
     }
}